/* Global */

/* color palete */
.t-r { color:#C62A22; }
.bg-r{ background-color: #C62A22}

.t-dg { color:#515559;}
.bg-dg{ background-color: #515559; }

.t-lg { color:#b1b7be;}
.bg-lg{ background-color:#b1b7be; }

.t-w { color:white;}
.bg-w{ background-color:white; }

.serif{
  font-family: adobe-caslon-pro;  
}

.hidden{
    display:none;
    
}

html{
    font-size:100%;
}
body {
    min-width: 1000px;
    font-size:18px;
}


span.dt-break {
    display: none;
}

br.mb-break {
    display: none;
}

.hdr,
.hdr-space {
    width: 100%;
    height: 133px;
}

a {
    cursor: pointer;
    text-decoration: none;
}



a.anchor {
    display: block;
    position: relative;
    top: -133px;
    visibility: hidden;
}



.hdr {
    background-color: #C62A22;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    min-width: 1000px;
}
.hdr-hb {
    display: none;
    float: right;
}
.hdr-nav {
    display: inline-block;
    margin: 92px 0 0;
    float: right;
}

.hdr-nav-link {
    display: inline-block;
    font-size: 16px;
    margin-right: 40px;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
}

.hdr-nav-link.active {
    border-bottom: 3px solid #fff;
}

.hdr-logo {
    padding: 30px 30px 0;
    width: 286px;
}


.section {
    box-sizing: border-box;
    padding: 33px 0;
}
.section-contents {
    margin: 0 auto;
    width: 80%;
    min-width: 1000px;
}

.section-splash {
    background-image: url("../blankslate-child/img/splash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 649px;
    cursor: pointer;
}

.section-splash .section-contents {
    width: 100%;
}
.section-splash-overlay {
    background-color: #0b0a23;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.section-splash-hed {
    font-size: 65px;
    color: #fff;
    text-align: center;
    position: relative;
    padding-top: 167px;
    font-weight: 800;
}

.section-splash-continue {
    width: 90px;
    position: relative;
    display: block;
    margin: 110px auto 0;
}

.section-about {
    color: #515559;
    font-family: adobe-caslon-pro;
    box-sizing: border-box;
    padding: 43px 0;
    font-size: 32px;
    letter-spacing: 1.5px;
    line-height: 2;
    text-align: justify;
}

.section-title{
    font-size:24px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1.3px;
    padding-bottom:33px;
}

.section-about-para {
    margin: 20px 0;
}

.section-attorneys {
    background-color: #515559;
    color: #fff;
    box-sizing: border-box;
    padding: 33px 0;
}

.section-attorneys-img {
    float: left;
    padding: 7px 22px 13px 0px;
}

.section-attorneys-title {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1.3px;
}

.section-attorneys-title-hed {
    height: 70px;
    font-size: 19px;
    padding-left: 238px;
}

.section-attorneys-title-dek {
    padding: 0 0 20px;
    font-size: 19px;
}

.section-attorneys-para {
    text-align: justify;
    font-family: adobe-caslon-pro;
    line-height: 1.8;
    letter-spacing: 1.2px;
    font-size: 23px;
    margin: 20px 0;
}

.section-clients {
    background-image: url("../blankslate-child/img/nyc.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 33px 0;
    text-align: justify;
}

.section-clients .section-contents:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.section-clients-group {
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    width: 40%;
    font-size: 19px;
    padding: 21px;
    line-height: 1.3;
    font-weight: 700;
    margin: 28px auto;
}

.clients-hed {
    color: #C62A22;
    padding-bottom: 25px;
}

.clients-dek > p {
    color: #515559;
    padding-bottom: 14px;
    margin:0;
}

.section-contact {
    background-color: #EBECEE;
    padding: 60px 0;
}

.section-contact {
}

.section-contact form {
    background-color: #B1B7BE;
    color: #fff;
    font-size: 0;
    font-weight: 500;
    padding: 15px 19px;
    box-sizing: content-box;
    position: relative;
}

.section-contact-hed {
    font-size: 19px;
    padding-left:22px;
    padding-top:17px;
    color:white;
    background-color: #B1B7BE;
}

.section-contact div {}

.section-contact label {
    display: none;
    font-size: 19px;
}
.ie8 .section-contact label {
    display: block;
}

.section-contact input,
.section-contact textarea,
.formElement > input{
    width: 100%;
    border: none;
    padding: 6px 7px 18px;
    margin-bottom: 15px;
    font-size: 19px;
    box-sizing: border-box;
    color: #515559;
}
.section-contact textarea {
    resize: none;
    min-height: 240px;
}

::-webkit-input-placeholder {
   color: #939ba5;
}
:-moz-placeholder { /* Firefox 18- */
   color: #939ba5;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #939ba5;
}
:-ms-input-placeholder {
   color: #939ba5;
}

.section-contact .button {
    text-align: right;
}

.section-contact button {
	display:flex;
margin-left:auto;
    background-color: #515559;
    border: none;
    color: #fff;
    padding: 6px 66px 18px 6px;
    font-size: 19px;
}

.form-messages {font-size: 19px;color: #005578;position: absolute;bottom: 35px;left: 30px;}

.section-blog {}

.section-blog-post {
    padding: 10px 0 20px;
    color: #515559;
}

.section-blog-post-date {
    font-size: 19px;
}

a .section-blog-post-title, .section-blog-post-title {
    font-family: adobe-caslon-pro;
    font-size: 48px;
    text-decoration: none;
    color:#515559;
}

.section-blog-post-para  > p{
    font-family: adobe-caslon-pro;
    font-size: 23px;
    margin: 0 0 20px;
}

.section-blog-post-img{
    max-width:100%;
    height:auto;
}

.ftr {
    background-color: #515559;
    color: #fff;
    padding: 20px 10%;
    margin: 0 auto;
    width: 100%;
    min-width: 1000px;
    box-sizing: border-box;
}


.wpforms-field-hp{
	display:none;
}

input:focus, textarea:focus {
    outline: none !important;
    border:1px solid black;
    box-shadow: 0 0 10px #719ECE;
}


/* list style */

.list-title{
    font-size:24px;
    font-weight:900;
}

.list{
    line-height: 36px; 
    margin-top: 12px; 
    font-size:18px;
}

.list > p {
    margin:0;
}

/* section-practice */

.pa-list > ul > li, .pa-list > ul > li > ul, .pa-list > ul > li > ul >li, .pa-list > ul > li > ul > li > ul > li {
    list-style-type: none;
}
.pa { 
    padding:0;
    margin-bottom:2px;
    border-radius:2px;
    padding-bottom:18px;
}

.pa-list-control{
    padding:18px 24px 0px;
}
.pa-title{ 
    display:flex;
    font-size:24px;
}

.pa-title-text{ 
    padding-right:33px;
    padding-top:18px;
    /*margin-left:20px; */
    /*line-height:24px;*/
    /*padding-bottom:18px;*/
    
}

.pa-hed-type{
    font-weight:900;
}

.pa-tag{
    line-height:24px;    
}
.pa-list{ 
    padding:0px 72px; 
    line-height: 36px; 
    margin-top: 12px; 
    font-size:18px;
}

.pa-list p, .pa-list ul{
    margin:0px;
}
